name: Publish and Release

on:
  push:
    branches:
      - main
      - v1-main
      - v2-main

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Prepare
        run: |
          npm ci
          npm test
      - name: Publish and Release
        uses: akashic-games/action-release@14c9885ffa51f0f5b8590da0d0139b577bebefcf # v3.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Artifacts
        working-directory: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version=$(cat ../package.json | jq -r .version)
          if [ $(gh release view v${version} --json assets | jq ".assets | length") != "0" ]; then
            exit 0
          fi
          basename=$(basename ./raw/debug/full/engineFilesV*.js .js)
          cp ./raw/release/full/${basename}.js ./${basename}.js
          cp ./raw/release/canvas/${basename}_Canvas.js ./${basename}_Canvas.js
          cp ./raw/debug/full/${basename}.js ./${basename}.debug.js
          cp ./raw/debug/canvas/${basename}_Canvas.js ./${basename}_Canvas.debug.js
          gh release upload v${version} ${basename}.js ${basename}_Canvas.js ${basename}.debug.js ${basename}_Canvas.debug.js
