name: reftest

on: [push, pull_request]

permissions:
  contents: read

jobs:
  reftest:
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: [18.x, 20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: brew install only for macOS
        if: runner.os == 'macOS'
        run: |
          brew install pkg-config cairo pango libpng jpeg giflib librsvg
          brew install python-setuptools
      - name: Run test
        run: |
          npm ci
          npm test
      - name: Archive artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: engine_files_reftest_result_${{ matrix.os }}_${{ matrix.node }}
          path: |
            ./tests/fixtures/**/expected/
            ./tests/fixtures/**/actual/
            ./tests/fixtures/**/diff/
