name: Update Internal Modules

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: 次の engine-files のバージョン。更新しない場合は "as-is" を指定。
        required: true
        options:
          - patch
          - minor
          - as-is
      akashic_engine:
        description: '@akashic/akashic-engine'
        required: true
        type: boolean
        default: true
      game_driver:
        description: '@akashic/game-driver'
        required: true
        type: boolean
        default: true
      pdi_browser:
        description: '@akashic/pdi-browser'
        required: true
        type: boolean
        default: true
      game_configuration:
        description: '@akashic/game-configuration'
        required: true
        type: boolean
        default: true
      pdi_common_impl:
        description: '@akashic/pdi-common-impl'
        required: true
        type: boolean
        default: true
      pdi_types:
        description: '@akashic/pdi-types'
        required: true
        type: boolean
        default: true
      indirect_deps:
        description: '@akashic/playlog, amflow, trigger, amflow-util'
        required: true
        type: boolean
        default: true
      headless_akashic:
        description: '@akashic/headless-akashic'
        required: true
        type: boolean
        default: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update_internal_modules:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '18'
          cache: npm
      - name: Update akashic-engine
        if: ${{ github.event.inputs.akashic_engine == 'true' }}
        run: npx npm-check-updates -f "@akashic/akashic-engine" -t minor -u
      - name: Update game-driver
        if: ${{ github.event.inputs.game_driver == 'true' }}
        run: npx npm-check-updates -f "@akashic/game-driver" -t minor -u
      - name: Update pdi-browser
        if: ${{ github.event.inputs.pdi_browser == 'true' }}
        run: npx npm-check-updates -f "@akashic/pdi-browser" -t minor -u
      - name: Update game-configuration
        if: ${{ github.event.inputs.game_configuration == 'true' }}
        run: npx npm-check-updates -f "@akashic/game-configuration" -u
      - name: Update pdi-common-impl
        if: ${{ github.event.inputs.pdi_common_impl == 'true' }}
        run: npx npm-check-updates -f "@akashic/pdi-common-impl" -u
      - name: Update pdi-types
        if: ${{ github.event.inputs.pdi_types == 'true' }}
        run: npx npm-check-updates -f "@akashic/pdi-types" -u
      - name: Update Indirect Deps
        if: ${{ github.event.inputs.indirect_deps == 'true' }}
        run: |
          npx npm-check-updates -f "@akashic/playlog" -u
          npx npm-check-updates -f "@akashic/amflow" -u
          npx npm-check-updates -f "@akashic/trigger" -u
          npx npm-check-updates -f "@akashic/amflow-util" -u
      - name: Update headless-akashic
        if: ${{ github.event.inputs.headless_akashic == 'true' }}
        run: npx npm-check-updates -f "@akashic/headless-akashic" -u
      - name: Bump Version
        if: ${{ github.event.inputs.version != 'as-is' }}
        run: npm version ${GITHUB_EVENT_INPUTS_VERSION} --no-git-tag-version
        env:
          GITHUB_EVENT_INPUTS_VERSION: ${{ github.event.inputs.version }}
      - name: Check Diff
        run: |
          if [ $(git diff --name-only | wc -l) -eq "0" ]; then
            # この時点で差分がなければ更新する必要がないため失敗とみなす
            echo "::error::更新するモジュールが存在しないため処理を中断します"
            exit 1
          fi
      - name: Install project
        run: |
          npm install
      - name: Check Version
        run: |
          if [ $(npm ls --depth=1 @akashic/akashic-engine | grep @akashic/akashic-engine | grep -v deduped | wc -l | tr -d ' ') != "1" ]; then
            # headless-akashic への参照が存在するため、depth=4 辺りで他バージョンの akashic-engine が入ってしまう。
            # そのため、depth=1 (孫依存まで) を指定し、game-driver, pdi-browser との依存の食い違いをチェックしている。
            echo "::error::複数バージョンの akashic-engine がインストールされている可能性があるため処理を中断します"
            exit 1
          fi
      - name: Update CHANGELOG.md
        if: ${{ github.event.inputs.version != 'as-is' }}
        run: npm run update-changelog
      - name: Set Variables
        id: variables
        run: |
          NEXT_VERSION=$(cat package.json | jq -r .version)
          echo "next_version=${NEXT_VERSION}" >> $GITHUB_OUTPUT
      - name: Create Commit and Pull Request
        run: |
          BRANCH_NAME="update-deps-$(date +%s)"
          git checkout -b "${BRANCH_NAME}"
          git config user.name 'github-actions'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add -A
          git commit -m "Update to ${STEPS_VARIABLES_OUTPUTS_NEXT_VERSION}"
          git push origin "${BRANCH_NAME}"
          gh pr create \
            --title "Update to ${STEPS_VARIABLES_OUTPUTS_NEXT_VERSION}" \
            --body "$(printf '# このPullRequestが解決する内容\n内部モジュールを更新します。')" \
            --label "dependencies" \
            --base "${CURRENT_BRANCH}" \
            --head "${BRANCH_NAME}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STEPS_VARIABLES_OUTPUTS_NEXT_VERSION: ${{ steps.variables.outputs.next_version }}
          CURRENT_BRANCH: ${{ github.ref_name }}
